/* .projects_grid {
    margin-top: 21.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid red;
}  */

.projects_container {
    margin-top: 21.2rem;
    display: flex;
    justify-content: space-between;
}

.projects_container h1 {
    text-align: center;
}
