.home_container {
    position: relative;
    top: 11rem;
}

.home_container p {
    font-size: 1.6rem;
}

.image_container img {
    height: 25rem;
    width: 23rem;
}

.home_container span {
    color:rgb(123, 123, 255);
    font-size: 4.7rem;
    font-weight: bold;
}
