.contact_container {
  margin-top: 6.2rem;
}

.contact_container h1 {
  font-weight: bold;
}
.contact_container p {
  font-size: 1.3rem;
  font-weight: 500;
}

.contact_container a {
  color: rgb(123, 123, 255);
  text-decoration: none;
  font-weight: 600;
}

.contact_container a img {
  width: 3rem;
  height: 3rem;
  margin: 2rem 0 1rem;
}

@media (min-width: 770px) {
  .contact_container a {
    font-size: 3.5rem;
  }
}

@media (max-width: 769px) {
  .contact_container a {
    font-size: 1.7rem;
  }
}
